.heroCont-zq
{
    height: 80vh;
    width: 100%;
    background-image:
    linear-gradient(to left, rgb(14 39 100), rgba(56, 76, 255, 0.226)),
    url('../../assets/V7-task/breadcrumb.webp') ;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.titleHeroCon-zq{
margin-bottom: 20px;
}
.iconHeroCon-zq{
    margin: 0 3px 2px 3px ;
   
}
.ImgCon-zq{
    position: absolute;
    left: 0;
    z-index: 1;
}
.ImgCon1-zq{
    position: absolute;
    right:  0;
    bottom: 0;
    z-index: 1;
}